language: node_js
node_js: 
  - 16

services:
  - docker 

before_script:
  - echo "no before_scripts to be run"

script: 
  - docker --version # print the docker version for logging
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed lamolak/udagram-api-feed:v5

  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user lamolak/udagram-api-user:v5

  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend lamolak/udagram-frontend:v5

  - docker build -t reverseproxy ./udagram-reverseproxy
  - docker tag reverseproxy lamolak/reverseproxy:v5

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push lamolak/udagram-api-feed:v5
  - docker push lamolak/udagram-api-user:v5
  - docker push lamolak/udagram-frontend:v5
  - docker push lamolak/reverseproxy:v5