apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-user
  labels:
    app: udagram-api-user
spec:
  replicas: 3
  selector:
    matchLabels:
      app: udagram-api-user
  template:
    metadata:
      labels:
        app: udagram-api-user
    spec:
      containers:
      - name: udagram-api-user
        image: lamolak/udagram-api-user
        ports:
        - containerPort: 80